<section id="about" class="about sec-pad">
    {% for itemByLanguage in site.data.about.languages %} 
    {% if itemByLanguage.language == page.lang %} 
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main">{{itemByLanguage.title}}</span>
        <span class="heading-sec__sub">
          {{itemByLanguage.description}}
                </span>
      </h2>
      <div class="about__content">
        <div class="about__content-main">
          <h3 class="about__content-title">{{itemByLanguage.content-title}}</h3>
          <div class="about__content-details">
            <p class="about__content-details-para">
              {{itemByLanguage.content}}
      
            </p>
            
          </div>
          <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr">{{itemByLanguage.contact-title}}</a>
        </div>
        <div class="about__content-skills">
          <h3 class="about__content-title">Skills</h3>

      
          <div class="skills">
            {% for item in site.data.skills %}
    
            <div class="skills__skill">{{ item.skill }}</div>
  
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %} 
    {% endfor %}
  </section>