<header class="header">
    <div class="header__content">

      <div class="header__logo-container">
        <div class="header__logo-img-cont">
          <img src="{{page.assets-path}}/img/profile-img.jpg" alt="Riccardo papucci Logo Image"
            class="header__logo-img" />
        </div>
        <span class="header__logo-sub">{{page.developer}}</span>
      </div>
        
      
      <div class="header__main">
        
        {% include navigation-header.html %} 

        
      </div>

      
    </div>
    
    {% include navigation-menu.html %} 


  </header>