<div >

  <select id="mySelect"  onchange="switchLanguage()" >
    {% if page.lang == "it" %}
    <option value="/" data-image="{{page.assets-path}}/img/logo/ita.svg" selected>ita</option>
    <option value="/en" data-image="{{page.assets-path}}/img/logo/eng.svg">eng</option>
    {% endif %} 
    {% if page.lang == "en" %}
    <option value="/en" data-image="{{page.assets-path}}/img/logo/eng.svg" selected>eng</option>
    <option value="/" data-image="{{page.assets-path}}/img/logo/ita.svg">ita</option>
    {% endif %} 
  </select>

 
</div>



<script>
  function switchLanguage() {
    var x = document.getElementById("mySelect").value;
    window.location.href = x
  }
  
  $(document).ready(function() {
      $('#mySelect').select2({
        templateResult: formatOption,
        templateSelection: formatOption
            });
  });

  function formatOption(option) {
      if (!option.id) {
          return option.text;
      }

      var $option = $(
          '<div class="language-item"><img src="' + $(option.element).data('image') + '" class="img-flag" /></div>'
      );
      return $option;
  }
</script>


