<section id="projects" class="projects sec-pad">
  {% for itemByLanguage in site.data.projects.languages %} 
  {% if itemByLanguage.language == page.lang %} 
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-bg">
        <span class="heading-sec__main">{{page.projects-title}}</span>
        <span class="heading-sec__sub">
          {{itemByLanguage.description}}
        </span>
      </h2>

      

      <div class="projects__content">
        {% for item in itemByLanguage.projectsData %}

        <div class="projects__row">
          <div class="projects__row-img-cont">
            <img src="{{item.img-path}}" style="{{item.style}}"  class="projects__row-img" 
              loading="lazy" />
          </div>
          <div class="projects__row-content">
            <h3 class="projects__row-content-title">{{ item.title }}</h3>
            <p class="projects__row-content-desc">
              {{ item.description }}
            </p>
          </div>
        </div>

        {% endfor %}
      
      </div>

    </div>
  {% endif %} 
  {% endfor %}  
  </section>