/* .img-flag{
    height: 12px;

} */

.language-item{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
}

.navigation-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}